html {
    font-size: 1em;
}

body {
    background-color: white;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
}

p {
    margin-bottom: 3.3em;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    /*font-style: italic;*/
    color: #000;
    z-index: 2;
    position: relative;
}

h1 {
    margin-top: 0;
    /*font-size: 3.157em;*/
    font-size: 2em;
}

#embed-container {
  height: 400px;
}
