* { box-sizing:border-box; }

body{ margin:0; background:#222; }
ul { width:100%; margin: 0 0 0 8em;}
li { margin:0; padding:0; list-style:none; position:relative; float:left; }

ul .white {
  height:5.8em; width:1.5em; z-index:1;
  border-left:1px solid #bbb;
  border-bottom:1px solid #bbb;
  border-radius:0 0 3px 3px;
  box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0,0,0,0.2);
  background: linear-gradient(top, #eee 0%,#fff 100%);
}

.black {
  height:3.5em; width:1em; margin:0 0 0 -0.6em; z-index:2;
  border:1px solid #000;
  border-radius:0 0 3px 3px;
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
  background:linear-gradient(45deg, #222 0%,#555 100%);
}

.s { margin:0 0 0 -0.4em;  }

ul li:first-child { border-radius:5px 0 5px 5px; }
ul li:last-child { border-radius:0 5px 5px 5px; }

html {
    font-size: 1em;
}

body {
    background-color: white;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
}

p {
    margin-bottom: 3.3em;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    /*font-style: italic;*/
    color: #000;
    z-index: 2;
    /*position: absolute;*/
}

h1 {
    margin-top: 0;
    margin-left: 1em;
    /*font-size: 3.157em;*/
    font-size: 2em;
}

h2 {
    font-family: 'Arimo', sans-serif;
    /*font-weight: bold;*/
    /*font-style: italic;*/
    color: #333;
    z-index: 2;
    text-align: right;
    /*position: absolute;*/
    display: block;
}

h2 {
    margin-top: .5em;
    margin-left: 1em;
    /*font-size: 3.157em;*/
    font-size: 1.3em;
}

#pls_work {
  height: 500px;
  overflow: auto;
}

#embed-container {
  /*height: 500px;*/
  height: 10000px;
}

.button {
  /*background-color: #0000FF;*/
  background-color: #001860;
  /*background-color: #4169E1;*/
  /*background-color: #4CAF50; /* Green */*/
  /*background-color: #000080;*/
  /*background-color: black;*/
  /*background-color: #483d8b;*/
  /*background-color: red;*/
  border-color: black;
  color: white;
  /*padding: 15px 32px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  font-family: 'Arimo', sans-serif;
  display: block;
  width: 100%;
  margin-top: 0em;
}

.button:active {
  background-color: black;
}
