<!DOCTYPE html>
<html lang="en">
  <head>
        <meta http-equiv="content-type" content="text/html">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Batchords accessibility software for Flat.io">
        <meta name="keywords" content="Batchords">
        <meta name="author" content="Daniel Burke">
        <title>BatChords</title>

        <!-- Bootstrap Core CSS ––––––––––––––––––––––––––– -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS ––––––––––––––––––––––––––– -->
        <link href="/static/css/style.css" rel="stylesheet">
        <!-- Custom Fonts ––––––––––––––––––––––––––– -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
        <!-- To add a google font and paste the link -->
        <link href="https://fonts.googleapis.com/css?family=Caveat:400,700|Libre+Baskerville" rel="stylesheet">
        <!-- Favicon––––––––––––––––––––––––––– -->
        <!-- <link rel="icon" type="image/x-icon" href="img/icon_hex.ico"> -->

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Arimo|PT+Sans|Ubuntu+Condensed" rel="stylesheet">
  </head>
  <body>

          <div id="top-bar">

                      <span id="icon">
                        <!-- TODO -->
                      </span>

                      <div class="row">
                                <h1 id="title">
                                  <a href="/home" style="color:black">BatChords</a>
                                </h1>

                                <h2 alight="right">
                                <a href="/home">Home</a>
                                </h2>

                                <h2 alight="right">
                                  <a href="/tutorial">Tutorial</a>
                                </h2>
                      </div>

            </div>
            <br>
            <h3 align="left"> Welcome, {{name}}</h3>

            <h5><a href="/createScore"> Create a New Score </a></h5>

            <br>
            {%for score in scores%}
            <p>
            <a href="/chooseScore?scoreid={{score.id}}">{{score.title}}</a>
            <br>
            Composed by {% if score.composer != "" %} Unknown {% else %} {{score.composer}} {% endif%},
            Lyrics by {% if score.lyricist != "" %} Unknown {% else %} {{score.lyricist}} {% endif %}
            </p>

            {%endfor%}

  </body>

</html>