<!DOCTYPE html>
<html lang="en">
  <head>
        <meta http-equiv="content-type" content="text/html">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Batchords accessibility software for Flat.io">
        <meta name="keywords" content="Batchords">
        <meta name="author" content="Daniel Burke">
        <title>BatChords</title>

        <!-- Bootstrap Core CSS ––––––––––––––––––––––––––– -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS ––––––––––––––––––––––––––– -->
        <link href="/static/css/style.css" rel="stylesheet">
        <!-- Custom Fonts ––––––––––––––––––––––––––– -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
        <!-- To add a google font and paste the link -->
        <link href="https://fonts.googleapis.com/css?family=Caveat:400,700|Libre+Baskerville" rel="stylesheet">
        <!-- Favicon––––––––––––––––––––––––––– -->
        <!-- <link rel="icon" type="image/x-icon" href="img/icon_hex.ico"> -->

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Arimo|PT+Sans|Ubuntu+Condensed" rel="stylesheet">
  </head>
  <body>

          <div id="top-bar">

                      <span id="icon">
                        <!-- TODO -->
                      </span>

                      <div class="row" align="right">
                                <h1 id="title" align="right">
                                  <a align="right" href="/home" style="color:black">BatChords</a>
                                </h1>
                      </div>

            </div>
            <br>
            <h3 align="right"> Welcome, {{name}}</h3>

            <br>

            <!-- Sidebar button things -->
            <div id="sidebar">
            <ul id="sbar">

            {%for score in scores%}
            <li id="tut1" class="tut_li">
            <a href="/chooseScore?scoreid={{score.id}}">{{score.title}}</a>
            <!-- Composed by {% if score.composer == "" %} Unknown {% else %} {{score.composer}} {% endif%},
            Lyrics by {% if score.lyricist != "" %} Unknown {% else %} {{score.lyricist}} {% endif %} -->
            </li>
            {%endfor%}
            </ul>
            </div>



            <br>

            <div id="bcApp_div" api_url="file_operations">Loading UI...</div>


            <script src="https://cdn.jsdelivr.net/npm/flat-embed@v0.8.0/dist/embed.min.js"></script>

            <script type="text/javascript" src="/static/js/bundle.js"></script>
            <script type="text/javascript" src="/static/js/keyboards.js"></script>
            <!-- <script type="text/javascript" src="/static/js/pads.js"></script> -->

            <script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script>
            <!-- <script>jQuery.noConflict();</script> -->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js " integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4 " crossorigin="anonymous "></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js " integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1 " crossorigin="anonymous "></script>

  </body>

</html>