<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Batchords accessibility software for Flat.io">
    <meta name="keywords" content="Batchords">
    <meta name="author" content="Daniel Burke">
    <title>Batchords</title>

    <!-- Bootstrap Core CSS ––––––––––––––––––––––––––– -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS ––––––––––––––––––––––––––– -->
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- Custom Fonts ––––––––––––––––––––––––––– -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
    <!-- To add a google font and paste the link -->
    <link href="https://fonts.googleapis.com/css?family=Caveat:400,700|Libre+Baskerville" rel="stylesheet">
    <!-- Favicon––––––––––––––––––––––––––– -->
    <!-- <link rel="icon" type="image/x-icon" href="img/icon_hex.ico"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arimo|PT+Sans|Ubuntu+Condensed" rel="stylesheet">
</head>
<body>
    <div id="top-bar">

                      <span id="icon">
                        <!-- TODO -->
                      </span>

                      <div class="row">
                                <h1 id="title">
                                  <a href="/home" style="color:black">BatChords</a>
                                </h1>

                                <h2 alight="right">
                                <a href="/home">Home</a>
                                </h2>

                                <h2 alight="right">
                                  <a href="/tutorial">Tutorial</a>
                                </h2>
                      </div>

            </div>
</body>
<h1>Tutorial</h1>

<h3>Getting set-up</h3>
<ul align=left>
<li  align=left>Plug in the Akai Keyboard to your computer.</li>
<li align=left>In another window or tab, navigate to localhost:8000</li>
</ul>

<h3>Available Tools</h3>
<ul align=left>
<li align=left>Press any combination of keys on the Akai keyboard and watch them light up in blue on the keyboard graphic at the bottom of the page</li>
<li align=left>Press the Start button to begin playback of the score.</li>
<li align=left>Press the Stop button to pause playback of the score.</li>
<li align=left>Press "Seek Note Right" to move to the cursor to the next note in the measure, and press "Seek Measure Right" to move to the next measure.</li>
<li align=left>Press "Seek Note Left" to move to the cursor to the previous note in the measure, and press "Seek Measure Left" to move to the previous measure.</li>
</ul>


<h3>Chords Mappings</h3>
<p>Description: </p>
<!-- C Chords -->
<table style="width:50%" border="1px solid black%">
  <caption><h4>C Chords</h4></caption>
<tr>
  <th>Keys Pressed</th>
  <th>Resulting Chord</th>
  <th>Chord Notes</th>
  <th>Chord Description</th>
</tr>
<tr>
  <td>C</td>
  <td>CMaj7</td>
  <td>C E G B</td>
  <td>C Major 7th</td>
</tr>
<tr>
  <td>C E</td>
  <td>C7</td>
  <td>C E G B&#9837;</td>
  <td>C Dominant 7th</td>
</tr>
<tr>
  <td>C B&#9837;</td>
  <td>Cm7</td>
  <td>C E&#9837; G B&#9837;</td>
  <td>C Minor 7th</td>
</tr>
<tr>
  <td>C E&#9837;</td>
  <td>CmM7</td>
  <td>C E&#9837; G B</td>
  <td>C Minor/Major 7th</td>
</tr>
<tr>
  <td>C G&#9837;</td>
  <td>Cm7&#9837;5</td>
  <td>C E&#9837; G&#9837; B&#9837;</td>
  <td>C Half-Diminished 7th</td>
</tr>
<tr>
  <td>C A</td>
  <td>Cdim7</td>
  <td>C E&#9837; G&#9837; A</td>
  <td>C Fully-Diminished 7th</td>
</tr>
<tr>
  <td>C F</td>
  <td>Csus7</td>
  <td>C F G B&#9837;</td>
  <td>C Minor Suspended 4th</td>
</tr>
</div>
</table>
<br>

<!-- C# Chords -->
<table style="width:50%" border="1px solid black%">
  <caption><h4>C# Chords</h4></caption>
<tr>
  <th>Keys Pressed</th>
  <th>Resulting Chord</th>
  <th>Chord Notes</th>
  <th>Chord Description</th>
</tr>
<tr>
  <td>C#</td>
  <td>C#Maj7</td>
  <td>C# F G# C</td>
  <td>C# Major 7th</td>
</tr>
<tr>
  <td>C# F</td>
  <td>C#7</td>
  <td>C# F G# B</td>
  <td>C# Dominant 7th</td>
</tr>
<tr>
  <td>C# B</td>
  <td>C#m7</td>
  <td>C# E G# B</td>
  <td>C# Minor 7th</td>
</tr>
<tr>
  <td>C# E</td>
  <td>C#mM7</td>
  <td>C# E G# C</td>
  <td>C# Minor/Major 7th</td>
</tr>
<tr>
  <td>C# G</td>
  <td>C#m7&#9837;5</td>
  <td>C# E G A#</td>
  <td>C# Half-Diminished 7th</td>
</tr>
<tr>
  <td>C# A#</td>
  <td>C#dim7</td>
  <td>C# E G A</td>
  <td>C# Fully-Diminished 7th</td>
</tr>
<tr>
  <td>C# F#</td>
  <td>C#sus7</td>
  <td>C# F# G# B</td>
  <td>C# Minor Suspended 4th</td>
</tr>
</div>
</table>

<!-- D Chords -->
<table style="width:50%" border="1px solid black%">
  <caption><h4>D Chords</h4></caption>
<tr>
  <th>Keys Pressed</th>
  <th>Resulting Chord</th>
  <th>Chord Notes</th>
  <th>Chord Description</th>
</tr>
<tr>
  <td>D</td>
  <td>DMaj7</td>
  <td>D F# A C#</td>
  <td>D Major 7th</td>
</tr>
<tr>
  <td>D F#</td>
  <td>D7</td>
  <td>D F# A C</td>
  <td>D Dominant 7th</td>
</tr>
<tr>
  <td>D C</td>
  <td>Dm7</td>
  <td>D F A C</td>
  <td>D Minor 7th</td>
</tr>
<tr>
  <td>D F</td>
  <td>DmM7</td>
  <td>D F A C#</td>
  <td>D Minor/Major 7th</td>
</tr>
<tr>
  <td>D G#</td>
  <td>Dm7&#9837;5</td>
  <td>D F G# B</td>
  <td>D Half-Diminished 7th</td>
</tr>
<tr>
  <td>D B</td>
  <td>Ddim7</td>
  <td>D F G# B</td>
  <td>D Fully-Diminished 7th</td>
</tr>
<tr>
  <td>D G</td>
  <td>Dsus7</td>
  <td>D G A C</td>
  <td>D Minor Suspended 4th</td>
</tr>
</div>
</table>

<!-- D# Chords -->
<table style="width:50%" border="1px solid black%">
  <caption><h4>D# Chords</h4></caption>
<tr>
  <th>Keys Pressed</th>
  <th>Resulting Chord</th>
  <th>Chord Notes</th>
  <th>Chord Description</th>
</tr>
<tr>
  <td>D#</td>
  <td>D#Maj7</td>
  <td>D# G A# D</td>
  <td>D# Major 7th</td>
</tr>
<tr>
  <td>D# G</td>
  <td>D#7</td>
  <td>D# G A# C#</td>
  <td>D# Dominant 7th</td>
</tr>
<tr>
  <td>D# B</td>
  <td>D#m7</td>
  <td>D# F# A# C#</td>
  <td>D# Minor 7th</td>
</tr>
<tr>
  <td>D# F#</td>
  <td>D#mM7</td>
  <td>D# F# A# D</td>
  <td>D# Minor/Major 7th</td>
</tr>
<tr>
  <td>D# A</td>
  <td>D#m7&#9837;5</td>
  <td>D# F# A C</td>
  <td>D# Half-Diminished 7th</td>
</tr>
<tr>
  <td>D# C</td>
  <td>D#dim7</td>
  <td>D# F# A C</td>
  <td>D# Fully-Diminished 7th</td>
</tr>
<tr>
  <td>D# G#</td>
  <td>D#sus7</td>
  <td>D# G# A# C#</td>
  <td>D# Minor Suspended 4th</td>
</tr>
</div>
</table>

<!-- E Chords -->
<table style="width:50%" border="1px solid black%">
  <caption><h4>E Chords</h4></caption>
<tr>
  <th>Keys Pressed</th>
  <th>Resulting Chord</th>
  <th>Chord Notes</th>
  <th>Chord Description</th>
</tr>
<tr>
  <td>E</td>
  <td>EMaj7</td>
  <td>E G# B D#</td>
  <td>E Major 7th</td>
</tr>
<tr>
  <td>E G#</td>
  <td>E7</td>
  <td>E G# B D</td>
  <td>E Dominant 7th</td>
</tr>
<tr>
  <td>E D</td>
  <td>Em7</td>
  <td>E G B D</td>
  <td>E Minor 7th</td>
</tr>
<tr>
  <td>E G</td>
  <td>EmM7</td>
  <td>E G B D#</td>
  <td>E Minor/Major 7th</td>
</tr>
<tr>
  <td>E A#</td>
  <td>Em7&#9837;5</td>
  <td>E G A# C#</td>
  <td>E Half-Diminished 7th</td>
</tr>
<tr>
  <td>E C#</td>
  <td>Edim7</td>
  <td>E G A# C#</td>
  <td>E Fully-Diminished 7th</td>
</tr>
<tr>
  <td>E A</td>
  <td>Esus7</td>
  <td>E A B D</td>
  <td>E Minor Suspended 4th</td>
</tr>
</div>
</table>

<!-- F Chords -->
<table style="width:50%" border="1px solid black%">
  <caption><h4>F Chords</h4></caption>
<tr>
  <th>Keys Pressed</th>
  <th>Resulting Chord</th>
  <th>Chord Notes</th>
  <th>Chord Description</th>
</tr>
<tr>
  <td>F</td>
  <td>FMaj7</td>
  <td>F A C E</td>
  <td>F Major 7th</td>
</tr>
<tr>
  <td>F A</td>
  <td>F7</td>
  <td>F A C E&#9837;</td>
  <td>F Dominant 7th</td>
</tr>
<tr>
  <td>F D#</td>
  <td>Fm7</td>
  <td>F G# C D#</td>
  <td>F Minor 7th</td>
</tr>
<tr>
  <td>F G#</td>
  <td>FmM7</td>
  <td>F G# C E</td>
  <td>F Minor/Major 7th</td>
</tr>
<tr>
  <td>F B</td>
  <td>Fm7&#9837;5</td>
  <td>F G# B D</td>
  <td>F Half-Diminished 7th</td>
</tr>
<tr>
  <td>F D</td>
  <td>Fdim7</td>
  <td>F G# B D</td>
  <td>F Fully-Diminished 7th</td>
</tr>
<tr>
  <td>F A#</td>
  <td>Fsus7</td>
  <td>F A# C D#</td>
  <td>F Minor Suspended 4th</td>
</tr>
</div>
</table>

<!-- F# Chords -->
<table style="width:50%" border="1px solid black%">
  <caption><h4>F# Chords</h4></caption>
<tr>
  <th>Keys Pressed</th>
  <th>Resulting Chord</th>
  <th>Chord Notes</th>
  <th>Chord Description</th>
</tr>
<tr>
  <td>F#</td>
  <td>F#Maj7</td>
  <td>F# A# C# E</td>
  <td>F# Major 7th</td>
</tr>
<tr>
  <td>F# A#</td>
  <td>F#7</td>
  <td>F# A# C# E</td>
  <td>F# Dominant 7th</td>
</tr>
<tr>
  <td>F# E</td>
  <td>F#m7</td>
  <td>F# A C# E</td>
  <td>F# Minor 7th</td>
</tr>
<tr>
  <td>F# A</td>
  <td>F#mM7</td>
  <td>F# A C# F</td>
  <td>F# Minor/Major 7th</td>
</tr>
<tr>
  <td>F# C</td>
  <td>F#m7&#9837;5</td>
  <td>F# A C D#</td>
  <td>F# Half-Diminished 7th</td>
</tr>
<tr>
  <td>F# D#</td>
  <td>F#dim7</td>
  <td>F# A C D#</td>
  <td>F# Fully-Diminished 7th</td>
</tr>
<tr>
  <td>F# B</td>
  <td>F#sus7</td>
  <td>F# B C# E</td>
  <td>F# Minor Suspended 4th</td>
</tr>
</div>
</table>

<!-- G Chords -->
<table style="width:50%" border="1px solid black%">
  <caption><h4>G Chords</h4></caption>
<tr>
  <th>Keys Pressed</th>
  <th>Resulting Chord</th>
  <th>Chord Notes</th>
  <th>Chord Description</th>
</tr>
<tr>
  <td>G</td>
  <td>GMaj7</td>
  <td>G B D F#</td>
  <td>G Major 7th</td>
</tr>
<tr>
  <td>G B</td>
  <td>G7</td>
  <td>G B D F</td>
  <td>G Dominant 7th</td>
</tr>
<tr>
  <td>G F</td>
  <td>Gm7</td>
  <td>G A# D </td>
  <td>G Minor 7th</td>
</tr>
<tr>
  <td>G A#</td>
  <td>GmM7</td>
  <td>G A# D F#</td>
  <td>G Minor/Major 7th</td>
</tr>
<tr>
  <td>G C#</td>
  <td>Gm7&#9837;5</td>
  <td>G A# C# E</td>
  <td>G Half-Diminished 7th</td>
</tr>
<tr>
  <td>G E</td>
  <td>Gdim7</td>
  <td>G A# C# E</td>
  <td>G Fully-Diminished 7th</td>
</tr>
<tr>
  <td>G C</td>
  <td>Gsus7</td>
  <td>G C D F</td>
  <td>G Minor Suspended 4th</td>
</tr>
</div>
</table>
<!-- G# Chords -->
<table style="width:50%" border="1px solid black%">
  <caption><h4>G# Chords</h4></caption>
<tr>
  <th>Keys Pressed</th>
  <th>Resulting Chord</th>
  <th>Chord Notes</th>
  <th>Chord Description</th>
</tr>
<tr>
  <td>G#</td>
  <td>G#Maj7</td>
  <td>G# C D# G</td>
  <td>G# Major 7th</td>
</tr>
<tr>
  <td>G# C</td>
  <td>G#7</td>
  <td>G# C D# F#</td>
  <td>G# Dominant 7th</td>
</tr>
<tr>
  <td>G# F#</td>
  <td>G#m7</td>
  <td>G# B D# F#</td>
  <td>G# Minor 7th</td>
</tr>
<tr>
  <td>G# B</td>
  <td>G#mM7</td>
  <td>G# B D# G</td>
  <td>G# Minor/Major 7th</td>
</tr>
<tr>
  <td>G# D</td>
  <td>G#m7&#9837;5</td>
  <td>G# B D E</td>
  <td>G# Half-Diminished 7th</td>
</tr>
<tr>
  <td>G# F</td>
  <td>G#dim7</td>
  <td>G# B D F</td>
  <td>G# Fully-Diminished 7th</td>
</tr>
<tr>
  <td>G# C#</td>
  <td>G#sus7</td>
  <td>G# C# D# F#</td>
  <td>G# Minor Suspended 4th</td>
</tr>
</div>
</table>
<!-- A Chords -->
<table style="width:50%" border="1px solid black%">
  <caption><h4>A Chords</h4></caption>
<tr>
  <th>Keys Pressed</th>
  <th>Resulting Chord</th>
  <th>Chord Notes</th>
  <th>Chord Description</th>
</tr>
<tr>
  <td>A</td>
  <td>AMaj7</td>
  <td>A C# E G#</td>
  <td>A Major 7th</td>
</tr>
<tr>
  <td>A C#</td>
  <td>A7</td>
  <td>A C# E G</td>
  <td>A Dominant 7th</td>
</tr>
<tr>
  <td>A G</td>
  <td>Am7</td>
  <td>A C E G</td>
  <td>A Minor 7th</td>
</tr>
<tr>
  <td>A C</td>
  <td>AmM7</td>
  <td>A C E G#</td>
  <td>A Minor/Major 7th</td>
</tr>
<tr>
  <td>A D#</td>
  <td>Am7&#9837;5</td>
  <td>A C D# F#</td>
  <td>A Half-Diminished 7th</td>
</tr>
<tr>
  <td>A F#</td>
  <td>Adim7</td>
  <td>A C D# F#</td>
  <td>A Fully-Diminished 7th</td>
</tr>
<tr>
  <td>A D</td>
  <td>Asus7</td>
  <td>A D E G</td>
  <td>A Minor Suspended 4th</td>
</tr>
</div>
</table>
<!-- A# Chords -->
<table style="width:50%" border="1px solid black%">
  <caption><h4>A# Chords</h4></caption>
<tr>
  <th>Keys Pressed</th>
  <th>Resulting Chord</th>
  <th>Chord Notes</th>
  <th>Chord Description</th>
</tr>
<tr>
  <td>A#</td>
  <td>A#Maj7</td>
  <td>A# D F A</td>
  <td>A# Major 7th</td>
</tr>
<tr>
  <td>A# D</td>
  <td>A#7</td>
  <td>A# D F F#</td>
  <td>A# Dominant 7th</td>
</tr>
<tr>
  <td>A# G#</td>
  <td>A#m7</td>
  <td>A# C# F G#</td>
  <td>A# Minor 7th</td>
</tr>
<tr>
  <td>A# C#</td>
  <td>A#mM7</td>
  <td>A# C# F A</td>
  <td>A# Minor/Major 7th</td>
</tr>
<tr>
  <td>A# E</td>
  <td>A#m7&#9837;5</td>
  <td>A# C# E G</td>
  <td>A# Half-Diminished 7th</td>
</tr>
<tr>
  <td>A# G</td>
  <td>A#dim7</td>
  <td>A# C# E G</td>
  <td>A# Fully-Diminished 7th</td>
</tr>
<tr>
  <td>A# D#</td>
  <td>A#sus7</td>
  <td>A# D# F G#</td>
  <td>A# Minor Suspended 4th</td>
</tr>
</div>
</table>
<!-- B Chords -->
<table style="width:50%" border="1px solid black%">
  <caption><h4>B Chords</h4></caption>
<tr>
  <th>Keys Pressed</th>
  <th>Resulting Chord</th>
  <th>Chord Notes</th>
  <th>Chord Description</th>
</tr>
<tr>
  <td>B</td>
  <td>BMaj7</td>
  <td>B D# F# A#</td>
  <td>B Major 7th</td>
</tr>
<tr>
  <td>B D#</td>
  <td>B7</td>
  <td>B D# F# A</td>
  <td>B Dominant 7th</td>
</tr>
<tr>
  <td>B A</td>
  <td>Bm7</td>
  <td>B D F# A</td>
  <td>B Minor 7th</td>
</tr>
<tr>
  <td>B D</td>
  <td>BmM7</td>
  <td>B D F# A#</td>
  <td>B Minor/Major 7th</td>
</tr>
<tr>
  <td>B F</td>
  <td>Bm7&#9837;5</td>
  <td>B D F G#</td>
  <td>B Half-Diminished 7th</td>
</tr>
<tr>
  <td>B G#</td>
  <td>Bdim7</td>
  <td>B D F G#</td>
  <td>B Fully-Diminished 7th</td>
</tr>
<tr>
  <td>B E</td>
  <td>Bsus7</td>
  <td>B E F# A</td>
  <td>B Fully-Diminished 7th</td>
</tr>
</div>
</table>


</html>