<!DOCTYPE html>
<html lang="en">
<h1>Tutorial</h1>

<h3>Getting set-up</h3>
<ul>
<li>Plug in the Akai Keyboard to your computer.</li>
<li>In another window or tab, navigate to localhost:8000</li>
</ul>

<h3>Available Tools</h3>
<ul>
<li>Press any combination of keys on the Akai keyboard and watch them light up in blue on the keyboard graphic at the bottom of the page</li>
<li>Press the Start button to begin playback of the score.</li>
<li>Press the Stop button to pause playback of the score.</li>
<li>Press "Seek Note Right" to move to the cursor to the next note in the measure, and press "Seek Measure Right" to move to the next measure.</li>
<li>Press "Seek Note Left" to move to the cursor to the previous note in the measure, and press "Seek Measure Left" to move to the previous measure.</li>
</ul>
</html>